/* Tippy theme */
.tippy-box[data-reference-hidden] {
  opacity: 0;
}

.tippy-box[data-theme~="red"] {
  background-color: #da4620;
  cursor: not-allowed;
  font-size: 12px;
  font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}

.tippy-box[data-theme~="red"] .tippy-arrow::before {
  transform: scale(0.7);
}

.tippy-box[data-theme~="red"][data-placement^="top"] .tippy-arrow::before {
  border-top-color: #da4620;
}
.tippy-box[data-theme~="red"][data-placement^="bottom"] .tippy-arrow::before {
  border-bottom-color: #da4620;
}
.tippy-box[data-theme~="red"][data-placement^="left"] .tippy-arrow::before {
  border-left-color: #da4620;
}
.tippy-box[data-theme~="red"][data-placement^="right"] .tippy-arrow::before {
  border-right-color: #da4620;
}

/* Theme for disabled tooltips */

body.lts-typing .tippy-box[data-theme~="disable-when-typing"],
body:not(.lts-typing) .tippy-box[data-theme~="disable-when-not-typing"] {
  background-color: darkgray;
}

body.lts-typing .tippy-box[data-theme~="disable-when-typing"][data-placement^="top"] .tippy-arrow::before,
body:not(.lts-typing) .tippy-box[data-theme~="disable-when-not-typing"][data-placement^="top"] .tippy-arrow::before  {
  border-top-color: darkgray;
}
body.lts-typing .tippy-box[data-theme~="disable-when-typing"][data-placement^="bottom"] .tippy-arrow::before,
body:not(.lts-typing) .tippy-box[data-theme~="disable-when-not-typing"][data-placement^="bottom"] .tippy-arrow::before  {
  border-bottom-color: darkgray;
}
body.lts-typing .tippy-box[data-theme~="disable-when-typing"][data-placement^="left"] .tippy-arrow::before,
body:not(.lts-typing) .tippy-box[data-theme~="disable-when-not-typing"][data-placement^="left"] .tippy-arrow::before  {
  border-left-color: darkgray;
}
body.lts-typing .tippy-box[data-theme~="disable-when-typing"][data-placement^="right"] .tippy-arrow::before,
body:not(.lts-typing) .tippy-box[data-theme~="disable-when-not-typing"][data-placement^="right"] .tippy-arrow::before  {
  border-right-color: darkgray;
}

/* Tippy overlay info Theme */
.tippy-box[data-theme~="window"] {
  background-color: whitesmoke;
  border: solid #da4620 1px;
  color: #4d4d4d;
}
.tippy-box[data-theme~="window"] b {
  font-weight: bold;
  font-size: 150%;
  border: solid #4d4d4d 1px;
  border-radius: 0.2em;
  display: inline-block;
  padding: 0 0.2em;
  margin: 0 0.1em;
  vertical-align: baseline;
  line-height: normal;
}
